  
.login-page {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
  height: auto;
  padding-left: 250px ;
}
.login-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.input-group {
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
}
password-group{
  flex-direction: row;
}
.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
 justify-content: space-between;
  color: #444;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.captcha-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.captcha-code {
  background: #eee;
  padding: 10px 15px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 15px;
  font-size: 16px;
  letter-spacing: 2px;
}
.captcha-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}
.links {
  font-size: 13px;
  display: flex ;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #555;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.btn-primary {
  background: #007bff;
  color: #fff;
}
.btn-secondary {
  background: #28a745;
  color: #fff;
}
.btn:hover {
  opacity: 0.9;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.role-select {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: #fff;
  color: #333 ;
  cursor: pointer;
}
.role-select:hover {
  border-color: #333;
}